{% extends 'base.html' %} {% load static %}
<!-- prettier-ignore -->
{% block title %} {{posts.title}} {% endblock %}
{% block css_files %}
<!-- prettier-ignore -->
<link rel="stylesheet" href=""/>
<!-- prettier-ignore -->
<link rel="stylesheet" href="{% static 'blog/post-detail.css' %}" />
{% endblock %}

<!-- prettier-ignore -->
{% block content %}
<section id="summary">
  <h2>{{posts.title}}</h2>
  <article>
    <img
      src="{% static 'blog/images/'|add:posts.image %}"
      alt="{{ posts.title }}"
    />
    <address>By {{ posts.author }}</address>
    <div>Last update on: <time>{{ posts.date | date:"d M Y" }}</time></div>
  </article>
</section>
<main>{{ posts.content|linebreaks }}</main>
{% endblock %}
